<h1>Editing Employee</h1>

<%= simple_form_for @employee, url: employee_path(@employee), :method => "put" do |f| %>
  <%= f.input :name %>
  <%= f.input :image, :as => :file %>
  <%= f.input :telephone %>
  <%= f.input :email %>
  <% if current_user.admin? %>
  <%= f.input :work_type %>
  <%= f.input :service_area %>
  <%= f.input :coordination_skills %>
  <%= f.input :implementation_skills %>
  <%= f.input :appraisal_grade %>
  <%= f.input :employee_type %>
  <%= f.association :company %>
  <% end %>
  <%= f.button :submit %>
<% end %>


<%= link_to "Show", {:controller => "employees", :action => "show", :id => @employee.id }, :method => "get" %>
<%= link_to 'Back', employees_path %>
