<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<!-- <p>
  <strong>Employee type:</strong>
  <%= image_tag @employee.image.url(:thumb) %>
</p> -->

<p>
  <strong>Telephone:</strong>
  <%= @employee.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<!-- <p>
  <strong>Area residence:</strong>
  <%= @employee.area_residence %>
</p>

<% if current_user.admin? %>
<p>
  <strong>Work type:</strong>
  <%= @employee.work_type %>
</p>

<p>
  <strong>Service area:</strong>
  <%= @employee.service_area %>
</p>

<p>
  <strong>Coordination skills:</strong>
  <%= @employee.coordination_skills %>
</p>

<p>
  <strong>Implementation skills:</strong>
  <%= @employee.implementation_skills %>
</p>

<p>
  <strong>Appraisal grade:</strong>
  <%= @employee.appraisal_grade %>
</p> -->

<p>
  <strong>Employee type:</strong>
  <%= @employee.employee_type %>
</p>
<% end %>
<p>
  <strong>Company:</strong>
  <%if @employee.company%>
    <%= link_to @employee.company.name, company_path(@employee.company) %>
  <%end%>
</p>

<h2>Implementation Details</h2>
<% if !@imp.nil? && @imp.count > 0%> 
<table class="table table-hover">
  <thead>
    <tr>
      <th>Start date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Duration</th>
      <th>Status</th>
      <th>School</th>
      <th>Employee</th>
      <th>Program</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imp.each do |implementer_request| %>
      <tr>
        <td><%= implementer_request.start_date.strftime('%a, %d.%m.%y') %></td>
        <td><%= implementer_request.start_time.strftime("%H:%M") %></td>
        <td><%= implementer_request.end_time.strftime("%H:%M") %></td>
        <td><%= implementer_request.program.duration %></td>
        <td><%= implementer_request.status %></td>
        <td><%= implementer_request.school.name %></td>
        <td><%= implementer_request.user.name %></td>
        <td><%= implementer_request.program.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p> No requests yet <p>
<% end %>

<h2>Sessions</h2>
<% if !@lessons.nil? && @lessons.count > 0%> 
  <table class="table table-hover">
    <thead>
      <tr>
        <th>User's name</th>
        <th>Program</th>
        <th>Name</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @lessons.each do |lesson| %>
          <td><%= lesson.implementer_request.user.name %></td>
          <td><%= lesson.implementer_request.program.name %></td>
          <td><%= lesson.name %></td>
          <td><%= lesson.date.strftime('%a, %d.%m.%y') %></td>
          <td><%= lesson.start_time.strftime("%H:%M") %></td>
          <td><%= lesson.end_time.strftime("%H:%M") %></td>
          <td><%= lesson.status %></td>
          <td><%= link_to 'Show', lesson %></td>
          <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
          <td><%= link_to 'Delete', lesson, :style => "color:red" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<p> No sessions yet <p>
<% end %>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
