<p id="notice"><%= notice %></p>

<%= button_to "New Program", new_program_path, :class => "btn btn-primary", :style => "float: right; margin-top:10px; margin-bottom: 20px", :method => :get%>
<h1>Listing Programs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Participants</th>
      <th>Overview</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.name %></td>
        <td><%= program.duration %></td>
        <td><%= program.participants %></td>
        <td><%= program.overview %></td>
        <td><%= link_to 'Show', program %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Delete', program,  :style => "color:red", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

