
<%=image_tag('banner.png', :style => "width:100%")%>

<div style="padding-top:50px; background-color: #f4f4f2">
	<center style="font-family:'GillSans'; font-weight:400; font-size:16px; color:#3b3b36">WHO ARE WE?</center>
	<p class="paragraph">We are a group of tech enthusiasts with a drive to create all things beautiful. Our team of scientists and artists take pride in all of their work, and don’t settle for anything short of perfection. Whether it was a website you needed, an app, or even a cashless payment solution, we will make sure we meet your expectations and more.</p>
</div>

<div id="categories" class="row">
	<div class="col-xs-4 websites selected"><%=image_tag('websites-selected.png', :style => "width:100%; cursor: pointer")%></div>
	<div class="col-xs-4 websites" style="display:none"><%=image_tag('websites.png', :style => "width:100%; cursor: pointer")%></div>
	<div class="col-xs-4 apps selected" style="display:none"><%=image_tag('apps-selected.png', :style => "width:100%; cursor: pointer")%></div>
	<div class="col-xs-4 apps"><%=image_tag('apps.png', :style => "width:100%; cursor: pointer")%></div>
	<div class="col-xs-4 quicklet selected" style="display:none"><%=image_tag('quicklet-selected.png', :style => "width:100%; cursor: pointer")%></div>
	<div class="col-xs-4 quicklet"><%=image_tag('quicklet.png', :style => "width:100%; cursor: pointer")%></div>
</div>

<div id="websites" class="clients" style="padding-top:20px">
	<a href="http://www.oshtoora.com" target="_blank"><%=image_tag('oshtoora.png', :style => "width:100%")%></a>
	<a href="http://www.wellspringegypt.com" target="_blank"><%=image_tag('wellspring.png', :style => "width:100%")%></a>
	<a href="http://www.solacecontrols.com" target="_blank"><%=image_tag('solace.png', :style => "width:100%; margin-bottom: -1px")%></a>
</div>

<div id="apps" class="clients" style="padding-top:20px; display:none">
	<a><%=image_tag('stallions.png', :style => "width:100%")%></a>
	<a><%=image_tag('red_league.png', :style => "width:100%")%></a>
	<a><%=image_tag('sandbox.png', :style => "width:100%")%></a>
	<a><%=image_tag('wsc.png', :style => "width:100%; margin-bottom: -1px")%></a>
</div>

<div id="quicklet" style="padding-top:50px; background-color: #f4f4f2; display:none">
	<center style="font-family:'GillSans'; font-size:16px; color:#71af75; padding:0 5%">NO MORE CASH - WITH QUICKLET PAYMENT SYSTEM!</center>
	<p class="paragraph" style="margin-bottom:0; color:#32322d; padding-bottom:0">Quicklet is our very own customizable cash replacement for Schools, Hotels, Companies, and Events. Give your customers RFID cards, keychains, or bracelets that they can pre-charge with cash in advance, and use to purchase from any on-site vendors that use our friendly iPad application, or settle their balance during checkout. </p>
	<div class="row quicklet_icons" style="margin:0">
		<div class="paragraph row col-xs-12 col-sm-6" style="margin:0; padding:0">
			<div class="col-xs-6" style="padding: 15px 10px">
				<center><%=image_tag('schools.png', :style => "width:70%")%></center>
				<center>SCHOOLS</center>
				<center style="font-size:11px; margin-top:10px; text-align: justify">Give parents complete control over their kids’ spending, and eliminate money loss and theft on school campus with RFID student IDs.</center>
			</div>
			<div class="col-xs-6" style="padding: 15px 10px">
				<center><%=image_tag('hotels.png', :style => "width:70%")%></center>
				<center>HOTELS</center>
				<center style="font-size:11px; margin-top:10px; text-align: justify">Give your guests bracelets that they can use to purchase with on hotel grounds, or integrate with your RFID room keys.</center>
			</div>
		</div>
		<div class="paragraph row col-xs-12 col-sm-6" style="margin:0; padding:0">
			<div class="col-xs-6" style="padding: 15px 10px">
				<center><%=image_tag('corporate.png', :style => "width:70%")%></center>
				<center>CORPORATE</center>
				<center style="font-size:11px; margin-top:10px; text-align: justify">Remove cash from company retail outlets, and integrate food allowance onto your very own Quicklet company  Qcards.</center>
			</div>
			<div class="col-xs-6" style="padding: 15px 10px">
				<center><%=image_tag('events.png', :style => "width:70%")%></center>
				<center>EVENTS</center>
				<center style="font-size:11px; margin-top:10px; text-align: justify">Eliminate cash logistics at your events and encourage spending with our Qcard payment solution. Find out more about your customers’ spending habits with our statistic reports.</center>
			</div>
		</div>
	</div>
	<center id="quicklet_url" style="padding: 30px 0 60px 0; font-family:'GillSans'; font-size:14px">DISCOVER MORE ON <a href="http://www.quicklet.cash" target="_blank" style="color:#71af75">QUICKLET.CASH</a></center>
</div>

<script>
	$(".col-xs-4").click(function(){
		if($(this).hasClass("selected")){
			
		}else{
			$(".col-xs-4").css("display", "none")
			if($(this).hasClass("websites")){
				$(".apps, .quicklet").css("display", "inline")
				$(".selected, #apps, #quicklet").css("display", "none")
				$(".websites.selected").css("display", "inline")
				$("#websites").css("display", "block")
			}else if($(this).hasClass("apps")){
				$(".websites, .quicklet").css("display", "inline")
				$(".selected, #websites, #quicklet").css("display", "none")
				$(".apps.selected").css("display", "inline")
				$("#apps").css("display", "block")
			}else{
				$(".websites, .apps").css("display", "inline")
				$(".selected, #apps, #websites").css("display", "none")
				$(".quicklet.selected").css("display", "inline")
				$("#quicklet").css("display", "block")
			}
		}
	})
</script>

<style>
.paragraph, .quicklet_icons{
	padding: 30px 20% 50px 20%
}
.paragraph>div>center{
	font-family: 'GillSans';
	color: #32322d
}
#categories{
	margin:0; 
	padding: 0 15%
}
#categories>div{
	padding:7%
}
.clients>a>img{
	margin-bottom: 2px
}

#quicklet>div>div{
	padding: 0 5%;
}

@media screen and (min-width: 768px){
	#websites>a>img:hover{
		/*border-right-style: solid;
		border-left-style: solid;
		border-width: 2px;
		border-color: white;*/
	}
}

@media screen and (max-width: 768px){
	.paragraph, .quicklet_icons{
		padding: 30px 5% 50px 5%
	}
	#categories{
		padding: 0 5%
	}
	#categories>div{
		padding:5%
	}
}

</style>

