
<%= simple_form_for @implementer_request, :url => url_for(:action => 'create', :controller => 'implementer_requests'),:method => 'post' do |f| %>
  <%= f.association :program, :include_blank => 'Select Program' , required: true%>
  <%= f.input :start_date, required: true%>
  <%= f.input :start_time, required: true%>
  <%= f.input :end_time, required: true%>
  <label>Company</label>
  <select class="form-control" style="margin-bottom:15px" id="select_company" required="required">
    <option value="">Select Company</option>
    <%= Company.all.each do |c| %>
      <option value="<%=c.id%>"><%=c.name%></option>
    <%end%>
  </select>
  <div class="field">
    <%= f.label :user_id %><br>
    <select class="form-control" style="margin-bottom:15px" id="select_user" name="implementer_request[user_id]" required="required">
    <option value="">Select User</option>
  </select>
  </div>  

  <%= f.association :school, :include_blank => 'Select School', required: true%>
  <%= f.input :classroom , required: true%>


  <%= f.button :submit %>
<% end %>

<script>
  $('#select_company').on('change', function() {
  var c = $("#select_company").val()
  if (c != "") {
    $.post( "/employees/getCompanyUsers", { company_id: c })
      .done(function( data ) {
        if (data != "Success") {
          $('#select_user option:not(:first)').remove().end();
          for (var i = 0; i < data.length; i++) {
              $('#select_user').append($('<option>', {
                value: data[i]["id"],
                text: data[i]["name"]
            }));
          }
        }
      });
  }
  else {
    $('#select_user option:not(:first)').remove().end();
  }
});
</script>
