<p id="notice"><%= notice %></p>

<%= button_to "New Request", new_implementer_request_path, :class => "btn btn-primary", :style => "float: right; margin-top:10px; margin-bottom: 20px", :method => :get%>
<h1>Listing Requests</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Classroom</th>
      <th>Start Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Duration</th>
      <th>Status</th>
      <th>School</th>
      <th>Employee</th>
      <th>Program</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @implementer_requests.each do |implementer_request| %>
      <tr>
        
        <td><%= implementer_request.classroom %></td>
        <td><%= implementer_request.start_date %></td>
        <td><%= implementer_request.start_time %></td>
        <td><%= implementer_request.end_time %></td>
        <td><%= implementer_request.duration %></td>
        <td><%= implementer_request.status %></td>
        <td><%= implementer_request.school.name %></td>
        <td><%= implementer_request.user.name %></td>
        <td><%= implementer_request.program.name %></td>
        <td><%= link_to 'Show', implementer_request %></td>
        <td><%= link_to 'Edit', edit_implementer_request_path(implementer_request) %></td>
        <td><%= link_to 'Delete', implementer_request, :style => "color:red" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

