<h1>Implementation Details</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @implementer_request.user.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @implementer_request.user.company.name %>
</p>


<p>
  <strong>Program:</strong>
  <%= @implementer_request.program.name %>
</p>
<!-- 
<p>
  <strong>Classroom:</strong>
  <%= @implementer_request.classroom %>
</p> -->

<p>
  <strong>Start date:</strong>
  <%= @implementer_request.start_date.strftime('%a, %d.%m.%y') %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @implementer_request.start_time.strftime("%H:%M") %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @implementer_request.end_time.strftime("%H:%M") %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @implementer_request.program.duration %>
</p>

<p>
  <strong>Status:</strong>
  <%= @implementer_request.status %>
</p>

<p>
  <strong>School:</strong>
  <%= @implementer_request.school.name %>
</p>

<h2> Coordinators Information </h2>
<% if @coor_imp.count > 0 %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Start date</th>
      <th>Duration</th>
      <th>Status</th>
      <th>School</th>
      <th>Coordinator Name</th>
      <th>Program</th>
      <th>Telephone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coor_imp.each do |implementer_request| %>
      <tr>
        <%if implementer_request.user.id != @implementer_request.user.id %>
        <td><%= implementer_request.start_date.strftime('%a, %d.%m.%y') %></td>
        <td><%= implementer_request.duration %></td>
        <td><%= implementer_request.status %></td>
        <td><%= implementer_request.school.name %></td>
        <td><%= implementer_request.user.name %></td>
        <td><%= implementer_request.program.name %></td>
        <td><%= implementer_request.user.telephone %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p> No coordinators assigned yet </p>
<%end%>

<h2>Sessions</h2>
<% if @sessions.count > 0 %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>User's name</th>
      <th>Program</th>
      <th>Name</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |lesson| %>
        <td><%= lesson.implementer_request.user.name %></td>
        <td><%= lesson.implementer_request.program.name %></td>
        <td><%= lesson.name %></td>
        <td><%= lesson.date.strftime('%a, %d.%m.%y') %></td>
        <td><%= lesson.start_time.strftime("%H:%M") %></td>
        <td><%= lesson.end_time.strftime("%H:%M")%></td>
        <td><%= lesson.status %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Delete', lesson, :style => "color:red" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p> No sessions yet </p>
<%end%>

<% if @implementer_request.status == 'pending' %>

    <%= button_to 'Accept', accept_implementer_request_path(@implementer_request), method: :patch , class: 'btn btn-success'%>
    <%= button_to 'Reject', refuse_implementer_request_path(@implementer_request), method: :patch , class: 'btn btn-danger'%>
<% end %>

<%= link_to 'Edit', edit_implementer_request_path(@implementer_request) %> |
<%= link_to 'Back', implementer_requests_path %>
