<p id="notice"><%= notice %></p>

<%= button_to "New Session", new_lesson_path, :class => "btn btn-primary", :style => "float: right; margin-top:10px; margin-bottom: 20px", :method => :get%>
<h1>Listing Lessons</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User's name</th>
      <th>Program</th>
      <th>Name</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
        <td><%= lesson.implementer_request.user.name %></td>
        <td><%= lesson.implementer_request.program.name %></td>
        <td><%= lesson.name %></td>
        <td><%= lesson.date.strftime('%a, %d.%m.%y')  %></td>
        <td><%= lesson.start_time.strftime("%H:%M") %></td>
        <td><%= lesson.end_time.strftime("%H:%M") %></td>
        <td><%= lesson.status %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Delete', lesson, :style => "color:red" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
