<!DOCTYPE html>
<html>
<head>
  <title>App Lab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">  
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
  <meta name="application-name" content="App Lab Egypt">
  <meta name="author" content="App Lab Egypt">
  <meta name="description" content="App Lab. Web and mobile application development">
  <meta name="keywords" content="App Lab, Applab, apps, website, development, Egypt">
  <meta name="robots" content="follow, all" />
  <meta property="og:site_name" content="applab.co" />  
  <meta property="og:title" content="App Lab Egypt" />
  <meta property="og:description" content="Web and mobile application development Egypt" />  
  <link rel="icon" href="<%= image_path 'icon.ico' %>" type="image/ico" />
  <link rel="shortcut icon" href="<%= image_path 'icon.ico' %>" type="image/ico" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" style="margin: 0; min-height:3px; background-color:black; border-bottom:none">
  
	</nav>
  <!-- Body -->
  <div id="body">
    <!-- alert -->
    <div class="container-fluid" style="padding:0">
      <% if flash[:notice] and flash[:notice] != "-1"%>
        <div class="alert alert-success fade alert-dismissible" role="alert" style="margin: 10px 0">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:notice]%>
          <script type="text/javascript">
            window.setTimeout(function () { showAlert(); }, 10);
          </script>
        </div>
      <% end %>
      <% if flash[:alert] and flash[:alert] != "-1"%>
        <div class="alert alert-danger fade alert-dismissible" role="alert" style="margin: 10px 0">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:alert]%>
          <script type="text/javascript">
            window.setTimeout(function () { showAlert(); }, 1);
          </script>
        </div>
      <% end %>
    </div>
    <!-- everything -->
    <div>
      <%= yield %>
    </div>

  </div>
  <!-- footer -->
  <div style="margin-top:0; background-color:#323232">
    <hr class="soften" style="margin:0; padding:0">
    <div style="min-height:180px; padding-top:50px; width:100%; text-align:center">
      <p style="color:#c43f57; font-family:'GillSans'">REACH OUT FOR A DEMONSTRATION OR CONSULTATION</p>
      <p style="margin-top:10px"><a style="color: white; font-family:'GillSans'" href="mailto:sales@applab.co">CONTACT US</a></p>
    </div>
  </div>

</body>


</html>

<script>
var vph = $(window).height() - 330;
$("#body").css({"min-height": vph + 'px'});

function direct(url){
  if ($(window).width() > 768){
    //$('.progress').css("display", "block")
    //$('.progress_hide').css("display", "none")
    window.location = url 
  }
}
</script>